body {
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4 {
    line-height: 12px;
    text-align: center;
}

h1 {
    color: aliceblue;
}

header {
    background-color: black;
    opacity: .6;
    padding: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    justify-content: space-between;
    gap: 20px;
    color: aliceblue;
}

.secciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    text-align: justify;
}

.formulario {
    background-color: black;
    font-weight: bold;
    opacity: .6;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(41, 38, 38) 0%, rgb(41, 40, 40) 100%);
}

label {
    color: white;
    display: block;
}